*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:linear-gradient(to left, #ba7453,#d1a984);
  z-index: -1;
}

.navbar{
  z-index: 3;
  width:100%;
  height:10%;
  background-color:transparent;
    position:fixed;
  top:0;
  right:-2000px;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:right 1s cubic-bezier(1, 0, 0, 1);
}
.change{
  right:0;
}

.hamburger-menu{
  width:35px;
  height:30px;
  z-index: 3;
   position:fixed;
  top:20px;
  right:25px;
  cursor:pointer;
  display:flex;
  flex-direction: column;
    justify-content: space-around
}

.line{
  width:100%;
  height:3px;
  background-color: rgb(255, 255, 255);
  transition:all .8s
}
.line.line-2{
  position: relative;
  width: 70%;
  left: 30%;
}
.line.line-3{
  position: relative;
  width: 50%;

  left: 50%;
}

/* arrow version */
.change  .line-1{
  transform: rotateZ(215deg) translate(-2px, 6px);
  top: 10px;
  width: 45%;
  left: 55%;
  position: relative;

}

.change  .line-3{
  width: 100%;
  left: 0;
  width: 45%;

  transform: rotateZ(-215deg) translate(-2px, -6px);
  left: 55%;
  top: -10px;

}


/* X version for navbar */
/* .change  .line-1{
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change  .line-2{
  opacity:0;
}
.change  .line-3{
  width: 100%;
  left: 0;
  transform: rotateZ(405deg) translate(-8px, -6px);
} */

.nav-list{
  position: relative;
  text-align:right;
  float: right;
  left: 15%;

}
ul.nav-list {
  list-style: none;
  float: right;
	}
	ul.nav-list li {
		display: inline;
	}
.nav-item{
  list-style:none;
  margin:25px
}

#logo{
 position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 30px;
  float: left;
  margin-left: -125px;
  left: -8.5%;
color:white;
 }

.nav-link{
  text-decoration:none;
  font-size:22px;
  color:#eee;
  font-weight:300;
  letter-spacing:1px;
  text-transform:uppercase;
  position:relative;
  padding:3px 0
}

.nav-link::before,
.nav-link::after{
  content:'';
  width:100%;
  height:2px;
    background-color:rgb(255, 255, 255);
  position:absolute;
    left:0;
  transform: scaleX(0);
  transition:transform 1s
}

.nav-link::after{
  bottom: 0;
  transform-origin: right;
}
.nav-link::before{
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
  transform:scaleX(1)
}

.home-area{
  width: 100%;
  height: 100vh;
  position: relative;
}
.about-area, .projects-area, .contact-area, .home-area{
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
height: 100vh;
}
.text-part{
  width: 65%;
  height: 80%;
}
h1{
  font-size: 50px;
}
p{
  font-size: 24px;
  line-height: 50px;
}
 .projects-area{
  background: #fefefe;
}
.contact-area,.about-area{
  background: #262626;
  color: #fff;
}
html{
  scroll-behavior: smooth;
}
section{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero{
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline{
  position: absolute;
  top: 70%; 
  left: 10%;
  font-size: 100px;
  transform: translate(-20%,-70%);
  color: white;
  z-index: 2;
}

.hero::after{
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}