@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
body {
  font-family: 'Teko', sans-serif;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;

}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to left, #6991c7, #a7bde7);
  z-index: -1;
  padding-bottom:23.5px ;
}



.navbar {
	z-index: 999;
	width: 100%;
	height: 70px;
	background-color: transparent;
	position: fixed;
	top: 0;
	right: -2000px;
	border-bottom: linear-gradient(to left, #6991c7, #a7bde7);
  display: flex;
	/* justify-content:center; */
	align-items: center;
	transition: right 1s cubic-bezier(1, 0, 0, 1);
	background: linear-gradient(to left, #6991c7, #a7bde7);
}
.change {
	right: 0;
}

.hamburger-menu {
	width: 35px;
	height: 30px;
	z-index: 3;
	position: fixed;
	top: 20px;
	right: 25px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.line {
	width: 100%;
	height: 3px;
	background-color: rgb(255, 255, 255);
	transition: all 0.8s;
}
.line.line-2 {
	position: relative;
	width: 70%;
	left: 30%;
}
.line.line-3 {
	position: relative;
	width: 50%;

	left: 50%;
}

/* arrow version */
.change .line-1 {
	transform: rotateZ(215deg) translate(-2px, 6px);
	top: 10px;
	width: 45%;
	left: 55%;
  position: relative;
  
}

.change .line-3 {
	width: 100%;
	left: 0;
	width: 45%;

	transform: rotateZ(-215deg) translate(-2px, -6px);
	left: 55%;
	top: -10px;
}

/* X version for navbar */
/* .change  .line-1{
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change  .line-2{
  opacity:0;
}
.change  .line-3{
  width: 100%;
  left: 0;
  transform: rotateZ(405deg) translate(-8px, -6px);
} */

.nav-list {
	position: relative;
	text-align: left;
	float: left;
	/* left: -25%; */
}

.nav-listtwo {
	position: relative;
	text-align: right;
	float: right;
	left: 45vw;
}
ul.nav-listtwo li {
	display: inline;
	margin: 0 10px;
}

ul.nav-list {
	list-style: none;
	float: left;
	left: 5%;
}
ul.nav-list li {
	display: inline;
}
.nav-item {
	list-style: none;
	margin: 20px;
}

.nav-link2 {
	color: #eee;
}

.nav-link {
	text-decoration: none;
	font-size: 20px;
	color: #eee;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	padding: 3px 0;
	font-size: 30px;
}

.nav-link::before,
.nav-link::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 0;
	transform: scaleX(0);
	transition: transform 1s;
}

.nav-link::after {
	bottom: 0;
	transform-origin: right;
}
.nav-link::before {
	top: 0;
	transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
	transform: scaleX(1);
}

.home-area {
	width: 100%;
	height: 100vh;
  position: relative;
  /* margin-bottom: -3%; */

}

.about-area,
.projects-area,
.contact-area,
.home-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}
.text-part {
	position: relative;
	/* width: 65%; */
	height: 80%;
  left: 1%;
  z-index: 99;
}
/* About sec paragraph */
p {
	font-size: 24px;
	line-height: 50px;
}

.contact-area,
.about-area,
.projects-area {
	background: linear-gradient(to left, #6991c7, #a7bde7);
	color: #fff;
}
html {
	scroll-behavior: smooth;
}
section {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	border-bottom: solid linear-gradient(to left, #6991c7, #a7bde7);
}

.hero {
	height: 100vh;
	width: 100%;
	position: relative;
  top: 20px;
}

.hero::after {

	content: '';
	background: #6991c7;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0.5;
	top: 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.562),
		0 6px 20px 0 rgba(0, 0, 0, 0.452);
}

.headline {
	position: relative;
	width: 165px;
	color: white;
	z-index: 2;
	top: 13px;
}
.middleSentence {
	position: relative;
	margin-right: 25%;
	top: 10px;
}

.intro {
	position: relative;
	color: white;
	z-index: 2;
	transform: translate(-20%, -70%);
	font-size: 65px;
	font-weight: bolder;
}
.all {
	position: relative;
	top: 90px;
	left: 2%;
	z-index:9;
}
.intro.top {
	position: relative;
	top: 20px;
}
.intro.middle {
	padding-right: 3%;
	/* top: 40px; */
	/* width: 10%; */
}
.intro.bottom {
	padding-right: 2%;
}

.circles{
 
  position: absolute;
  border: #a7bde7;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100% ;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.247),
  0 3px 15px 0 rgba(0, 0, 0, 0.164);

}
.circles.first{
  width: 200px;
  height: 200px;
  right: 150px;
  top: 115px;
  background-color:#a7bde74f ;
  /* border:solid rgb(255, 0, 234); */

 
}
.circles.second{
  right: 1px;
  top: 200px;
  width: 220px;
  height: 220px;
  background-color:#879cc44f ;
  /* border:solid rgb(0, 255, 149); */

}

.circles.third{
  right: 120px;
  top: 330px;
  width: 260px;
  height: 260px;
  background-color:#729ef04f ;
  /* border:solid rgb(223, 193, 193); */

}
.circles.fourth{
  right: -20px;
  top: 20px;
  width: 180px;
  height: 180px;
  background-color:#729ef04f ;
  /* border:solid red; */

}
.circles.fifth{
  right: -10px;
  top: 500px;
  width: 230px;
  height: 230px;
  background-color:#7d9bcf4f ;
  /* border:solid rgb(58, 42, 42); */
  z-index: 1;

}

@keyframes pop{
  from{
    opacity: 1;
    transform: translateZ(0) scale(1,1);
  }
  to{
    opacity: 0;
    transform: translateZ(0)scale(1.75,1.75);
  }
}
.circles:hover{
  animation: pop 0.60s cubic-bezier(0.16,0.87,0.48,0.99) forwards;
  cursor: pointer;
}


#hi,
#name,
#fullstack,
#developer {
  animation: fill 0.6s ease forwards 4.5s;
}

#hi path:nth-child(1) {
	stroke-dasharray: 268.55999755859375;
	stroke-dashoffset: 268.55999755859375;
	animation: line-anim 3s ease forwards 1.7s;
}

#hi path:nth-child(2) {
	stroke-dasharray: 136.97998046875;
	stroke-dashoffset: 136.97998046875;
	animation: line-anim 3s ease forwards 2.2s;
}

#hi path:nth-child(3) {
	stroke-dasharray: 60.361045837402344;
	stroke-dashoffset: 60.361045837402344;
	animation: line-anim 3s ease forwards 0.8s;
}

#name path:nth-child(1) {
	stroke-dasharray: 128.87991333007812;
	stroke-dashoffset: 128.87991333007812;
	animation: line-anim 3s ease forwards 2.2s;
}

#name path:nth-child(2) {
	stroke-dasharray: 60.12594985961914;
	stroke-dashoffset: 60.12594985961914;
	animation: line-anim 3s ease forwards 1.4s;
}

#name path:nth-child(3) {
	stroke-dasharray: 322.5590515136719;
	stroke-dashoffset: 322.5590515136719;
	animation: line-anim 3s ease forwards 1.7s;
}

#name path:nth-child(4) {
	stroke-dasharray: 248.72991943359375;
	stroke-dashoffset: 248.72991943359375;
	animation: line-anim 3s ease forwards 2s;
}
#name path:nth-child(5) {
	stroke-dasharray: 217.31700134277344;
	stroke-dashoffset: 217.31700134277344;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(6) {
	stroke-dasharray: 322.5592041015625;
	stroke-dashoffset: 322.5592041015625;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(7) {
	stroke-dasharray: 217.31704711914062;
	stroke-dashoffset: 217.31704711914062;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(8) {
	stroke-dasharray: 212.69151306152344;
	stroke-dashoffset: 212.69151306152344;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(9) {
	stroke-dasharray: 147.7427978515625;
	stroke-dashoffset: 147.7427978515625;
	animation: line-anim 3s ease forwards 2.4s;
}
#name path:nth-child(10) {
	stroke-dasharray: 245.271484375;
	stroke-dashoffset: 245.271484375;
	animation: line-anim 3s ease forwards 2.8s;
}
#name path:nth-child(11) {
	stroke-dasharray: 217.3170928955078;
	stroke-dashoffset: 217.3170928955078;
	animation: line-anim 3s ease forwards 2.6s;
}
#name path:nth-child(12) {
	stroke-dasharray: 60.361045837402344;
	stroke-dashoffset: 60.361045837402344;
	animation: line-anim 3s ease forwards 3.3s;
}

#fullstack path:nth-child(1) {
	stroke-dasharray: 250.99961853027344;
	stroke-dashoffset: 250.99961853027344;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(2) {
	stroke-dasharray: 187.7399444580078;
	stroke-dashoffset: 187.7399444580078;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(3) {
	stroke-dasharray: 212.72943115234375;
	stroke-dashoffset: 212.72943115234375;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(4) {
	stroke-dasharray: 136.6199188232422;
	stroke-dashoffset: 136.6199188232422;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(5) {
	stroke-dasharray: 136.61993408203125;
	stroke-dashoffset: 136.61993408203125;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(6) {
	stroke-dasharray: 51.839988708496094;
	stroke-dashoffset: 51.839988708496094;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(7) {
	stroke-dasharray: 248.73114013671875;
	stroke-dashoffset: 248.73114013671875;
	animation: line-anim 3s ease forwards 2.7s;
}
#fullstack path:nth-child(8) {
	stroke-dasharray: 147.74270629882812;
	stroke-dashoffset: 147.74270629882812;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(9) {
	stroke-dasharray: 217.3170166015625;
	stroke-dashoffset: 217.3170166015625;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(10) {
	stroke-dasharray: 186.73056030273438;
	stroke-dashoffset: 186.73056030273438;
	animation: line-anim 3s ease forwards 2.4s;
}
#fullstack path:nth-child(11) {
	stroke-dasharray: 250.26953125;
	stroke-dashoffset: 250.26953125;
	animation: line-anim 3s ease forwards 2.3s;
}

#developer path:nth-child(1) {
	stroke-dasharray: 352.6358642578125;
	stroke-dashoffset: 352.6358642578125;
	animation: line-anim 3s ease forwards 2.6s;
}
#developer path:nth-child(2) {
	stroke-dasharray: 214.7104034423828;
	stroke-dashoffset: 214.7104034423828;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(3) {
	stroke-dasharray: 250.1188507080078;
	stroke-dashoffset: 250.1188507080078;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(4) {
	stroke-dasharray: 250.06875610351562;
	stroke-dashoffset: 250.06875610351562;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(5) {
	stroke-dasharray: 214.71047973632812;
	stroke-dashoffset: 214.71047973632812;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(6) {
	stroke-dasharray: 192.1947021484375;
	stroke-dashoffset: 192.1947021484375;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(7) {
	stroke-dasharray: 214.71055603027344;
	stroke-dashoffset: 214.71055603027344;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(8) {
	stroke-dasharray: 136.619873046875;
	stroke-dashoffset: 136.619873046875;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(9) {
	stroke-dasharray: 207.65467834472656;
	stroke-dashoffset: 207.65467834472656;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(10) {
	stroke-dasharray: 242.20631408691406;
	stroke-dashoffset: 242.20631408691406;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(11) {
	stroke-dasharray: 214.71072387695312;
	stroke-dashoffset: 214.71072387695312;
	animation: line-anim 3s ease forwards 2.1s;
}
#developer path:nth-child(12) {
	stroke-dasharray: 127.58888244628906;
	stroke-dashoffset: 127.58888244628906;
	animation: line-anim 3s ease forwards 2.1s;
}

@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}

.wrap {
	position: relative;
	margin-top: 150px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	left: -65%;
	top: 100px;
}

.cube {
	margin: auto;
	position: relative;
	height: 150px;
	width: 150px;
	transform-style: preserve-3d;
}

.cube > div {
	position: absolute;
	box-sizing: border-box;
	padding: 10px;
	height: 100%;
	width: 100%;
	opacity: 1;
	background-color: #000;
	/* border: solid 1px #eeeeee; */
	color: #ffffff;
}

.front {
	transform: translateZ(50px);
	background-image: url('./images/4223.png');
	background-size: cover;
	background-position: center center;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
}

.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	background-image: url('./images/HTML5.jpg');

	background-size: cover;
	background-position: center center;
}

.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	background-image: url('./images/javascript-logo.png');
	background-size: cover;
	background-position: center center;
}

.top {
	transform: rotateX(-270deg) translateY(-100px);
	transform-origin: top center;
	background-image: url('./images/reactjs.png');

	background-size: cover;
	background-position: center center;
}

.bottom {
	transform: rotateX(270deg) translateY(100px);
	transform-origin: bottom center;
	background-image: url('./images/css.png');
	background-size: cover;
	background-position: center center;
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.cube {
	animation: rotate 20s infinite linear;
}

@keyframes animate {
	from,
	to {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	16% {
		transform: rotateY(-90deg);
	}
	33% {
		transform: rotateY(-90deg) rotateZ(90deg);
	}
	50% {
		transform: rotateY(-180deg) rotateZ(90deg);
	}
	66% {
		transform: rotateY(-270deg) rotateZ(90deg);
	}
	83% {
		transform: rotateY(90deg);
	}
}

/* whitespaces */
.sentence.one::after{
  content: '\a';
  white-space: pre;
}
.sentence.two::after{
  content: '\a';
  white-space: pre;
}
.sentence.three::after{
  content: '\a';
  white-space: pre;
}
.sentence.four::after{
  content: '\a';
  white-space: pre;
}
.languages{
  border: solid transparent;
  right: 25%;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.473),
  0 6px 20px 0 rgba(0, 0, 0, 0.39);
  border-radius: 7px;
  width: 400px;
  height: 280px;
 top: 55%;
 z-index: 99;
 background-color: #6991c7;
  /* text-align: center; */
  font-size: 30px;
}
.languages li{
  /* list-style: none; */
  position: relative;
  left: 25px;
}
.languages h3{
  text-decoration: underline;
  text-align: center;
}
.laguagesStacks.second{
  position: relative;
  top: -215px;
  left: 50%;
}


@media only screen and (max-width: 987px) {
	.nav-listtwo {
		left: 35%;
	}
	.wrap {
		left: -65%;
		z-index: 9;
		top: 100px;
	}
}
@media only screen and (max-width: 1035px) {
  .languages{
    right: 20%;
  }
  .circles.aboutc{
    display: none;
  }
  .circles.projectc{
    display: none;
  }
}

@media only screen and (max-width: 833px) {
	.nav-listtwo {
		left: 30%;
	}
	.wrap {
		left: -75%;
		/* top: -250px; */
	}

	.cube {
		height: 120px;
		width: 120px;
	}
	.front {
		transform: translateZ(20px);
	}
}
@media only screen and (max-width: 804px) {
	.wrap {
		left: -30%;
		top: -200px;
	}
	.text-part.about {
		top: 90px;
	}
}

@media only screen and (max-width: 810px) {
	.hi,
	.name,
	.fullstack,
	.developer {
		position: relative;
		width: 45vw;
	}
	.hi {
		left: -36%;
	}
	.name {
		left: 2%;
	}
	.fullstack {
		left: -2%;
	}
}

@media only screen and (max-width: 700px) {
	.text-part.about {
		top: 80px;
	}
}

@media only screen and (max-width: 784px) {
	.nav-listtwo {
		left: 20%;
  }
  
}


/* projects */


.carousel-wrapper {
	height: 500px;
	position: relative;
	width: 600px;
	margin: 0 auto;
  left: -10%;
  
}

.carousel-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 25px 50px;
	opacity: 0;
	transition: all 1s ease-in-out;
}
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 12px;
}

.arrow-prev {
	left: -30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
	right: -280px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}

.light {
	color: white;
}



@media (max-width: 480px) {
	.arrow,
	.light .arrow {
		background-size: 10px;
		background-position: 10px 50%;
  }
 
}

/*Select every element*/
[id^='item'] {
	display: none;
}

.item-1 {
	z-index: 2;
	opacity: 1;
	background: url('./images/Screen\ Shot\ 2020-07-23\ at\ 11.12.56\ PM.png');
	background-size: cover;
	background-position: center;
}
.item-2 {
	background: url('./images/Screen\ Shot\ 2020-07-24\ at\ 12.01.10\ AM.png');
	background-size: cover;
	background-position: center;
}
.item-3 {
	background: url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
	background-size: cover;
}

*:target ~ .item-1 {
	opacity: 0;
}

#item-1:target ~ .item-1 {
	opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
	z-index: 3;
	opacity: 1;
}
.projectInfo {
	position: relative;
	/* border: .5px solid #a7bde7; */
	background-color: #a7bde7;
	font-family: 'Amatic SC', cursive;
	height: 500px;
	width: 50%;
	left: 110%;
	top: -13.1%;
}
.describe{
  position: relative;
 line-height: 30px;
 font-weight: bold;
 top: 12px;
 margin-right: 10px;
}
.projectInfo h1 {
position: relative;
left: 15px;
}
.projectInfo p{
  position: relative;
  left: 15px;
}
ul.stack{
position: relative;
top: 20px;
left:15% ;
list-style: circle;
font-weight: bold;
font-size: 20px;
}
ul.stack li{
margin-bottom: 15px;
}
.viewbtn a{
  text-decoration: none;
  color: rgb(45, 102, 112);
  font-weight: bolder;
}
.viewbtn a:hover{
  color: black;
}
.viewbtn{
  position: relative;
  top: 9%;
  height: 30px;
  width: 100px;
  background-color: transparent;
  border:.5px solid white;
  color: white;
  left: 65px;
  margin-bottom: 15px;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-position: right bottom;
  display: block;
  background-size: 200% 100%;

  transition: all .7s ease-out;

}
.viewbtn:hover {
  background-position: left bottom;
}
@media only screen and (max-width: 977px) {
  .carousel-wrapper{
    width:500px ;
  }
  .arrow-next{
    right: -230px;

  }
  .projectName{
    font-size: 40px;
  }
  .describe{
    margin-left: -5px;
  }
  .viewbtn{
    left: 40px;
    top: 20px;

  }
  .languages{
    right: 5%;

  }

  }


  @media only screen and (max-width: 811px) {
    .carousel-wrapper{
      width:450px ;
    }
    .arrow-next{
      right: -200px;
  
    }
    .projectName{
      font-size: 30px;

    }
    .describe{
      margin-left: -5px;
    }
    .viewbtn{
      left: 35px;
      top: 15px;
     }
     .languages{
      right: 10%;
  
    }
  }


@media only screen and (max-width: 717px) {
  .carousel-wrapper{
    width:400px ;
  }
  .arrow-next{
    right: -160px;

  }
  .projectName{
    font-size: 30px;

  }
  .describe{
   font-size: 20px;
  }
  .viewbtn{
    left: 25px;
   top: 10px;
   }
   ul.stack{
    top: 10px;
    margin-left: 2px;
    font-size: 17px;
    }
    .languages{
      right: 5%;
      width: 250px;
    }

  }
/* Contact section */

ul.contact-listtwo li {
	display: inline;
	margin: 0 10px;
}
.contact-listtwo{
  display: none;
}

.nameInput,.emailInput{
width: 250px;
height: 50px;
margin-bottom: 10px;
margin-right: 5px;
border: solid transparent;
}


.subjectInput{
  height: 50px;
  width: 512px;
  margin-bottom: 10px;
  border: solid transparent;

}
.messageInput{
  height: 150px;
  width: 513px;
  border: solid transparent;

}
.form{
  position: relative;
  top:50px;
}
.send{
  position: relative;
  left: 50%;
  height: 30px;
  width: 100px;
  background-color: transparent;
  border:.5px solid white;
  color: white;
  transform: translate(-50%);
  cursor: pointer;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-position: right bottom;
  display: block;
  background-size: 200% 100%;
  transition: all .7s ease-out;
}

.send:hover {
  background-position: left bottom;
  color: black;

}

.myresume a{
  color: rgb(54, 87, 231);
  text-decoration: none;
  cursor: pointer;
}
input { 
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  color: #4c77af;
}
textarea{
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  color: #4c77af;
}
::-webkit-input-placeholder { 
  color: #4c77af;
}
::-moz-placeholder {
  color: #4c77af;
}
:-ms-input-placeholder { 
  color: #4c77af;
}
:-moz-placeholder { 
  color: #4c77af;
}


  @media only screen and (max-width: 665px) {
    .nav-listtwo{
      display: none;
    }
    .contact-listtwo{
      position: relative;
      display: inline;
      top: 10px;
      }
      .projectName{
        font-size: 25px;
      }
      .describe{
        top: 5px;
        margin-right: 15px;
       }
       ul.stack{
        /* top: 10px; */
        margin-left: 3px;

        }
        ul.stack li{
        margin-bottom: 5px;
      
        }
  }

  @media only screen and (max-width: 610px) {
    .carousel-wrapper{
      width:350px ;
      
    }
    .arrow-next{
      right: -130px;
    }
    .projectName{
      font-size: 25px;
  
    }
    .describe{
      line-height: 20px;
      top: 5px;
      margin-right: 15px;
     }
     .viewbtn {
       left: 7px;
    }
    ul.stack{
      /* top: 10px; */
      margin-left: 10px;
      margin-right: 15px;
      }
      ul.stack li{
      margin-bottom: 5px;
    
      }
      .languages{
        right: 25px;
      }
  }

  @media only screen and (max-width: 570px) {
    .nameInput,.emailInput{
      width: 150px;
    
      }
      .contact-listtwo{
        position: relative;
        display: inline;
        top: 10px;
      }
      
      .subjectInput{
        width: 312px;
      }
      .messageInput{
        width: 313px;
      }
      .form{
        top:25px;
      }

          .carousel-wrapper{
      width:300px ;
      top: 10px;
      
    }
    .arrow-next{
      right: -100px;
    }
    .projectInfo{
      width: 112px;
    }
    .projectName{
      font-size: 20px;
  
    }
    .describe{
      line-height: 20px;
      top: 5px;
      margin-right: 15px;
     }
     .viewbtn {
       left: 7px;
    }
    ul.stack{
      /* top: 10px; */
      margin-left: 5px;

      }
      ul.stack li{
      margin-bottom: 5px;
      
    
      }
      .sentence{
        font-size: 20px;
      }
      .languages{
        right: 25px;
        width: 210px;
        height: 220px;
        top: 370px;
      }
      .laguagesStacks.second{
        top: -157px;
      }
      .languages li{
        font-size: 22px;
        }
        .hi,
        .name,
        .fullstack,
        .developer {
          position: relative;
          width: 300px;
        }
        .hero::after{
          width: 350px;
        }
  }
  /* Need Ipad, Ipad pro,iphone s5  */



  /*============================= Mobile version========================== */

/* Good for galaxys5,pixel2,pixel3, iphone 6/7/8 ,6/7/8/plus, iphoneX*/
@media only screen and (max-width: 360px) {
  .languages{
    top: 470px;
    height: 190px;
    width: 150px;
    align-items: center;
  }
  .languages li{
    margin-bottom: -5px;
    font-size: 15px;

  }
  .languages h3{
    margin-bottom: -10px;
    font-size: 20px;
  }
  .laguagesStacks.second{
    top: 0px;
    left: 0;
  }

  .cube{
    top: 50px;
  }
}

@media only screen and (max-width: 414px) {
  .sentence.one::after{
  content: '';
  white-space: normal;
}
.sentence.two::after{
  content: '';
  white-space: normal;
}
.sentence.three::after{
  content: '';
  white-space: normal;
}
.sentence.four::after{
  content: '\a';
  white-space: pre;
}


  .projectName{
    font-size: 33px;

  }
  .describe{
   font-size: 20px;
  }
  .viewbtn{
    left: 25px;
   }
   .hero::after{
    width: 325px;
   }
   .hi,
   .name,
   .fullstack,
   .developer {
     width: 300px;
   }
   .hi {
     left: -58%;
   }
   .nav-link{
     font-size: 27px;
     left: -30px;
   }
   .nav-listtwo{
     display: none;
   }
  
   .hamburger-menu{
     right: 6px;
   }
   .cube{
    height: 80px;
    width: 80px;
   }
   .front {
    transform: translateZ(-20px);
    background-image: url('./images/4223.png');
  }
  .wrap {
    left: -30%;
   top: -40%;
  }

  .carousel-wrapper{
    left: 1%;
    width:300px ;
    height: 350px;
    top: -90px;

  }
  .projectInfo{
    height:230px;
    width:300px ;
    left: -25%;
    top: 96%;
    overflow: hidden;
  }
  .arrow-next{
    right: -20px;
  }

 
  .describe{
   line-height: 20px;
   top: 5px;
   margin-right: 15px;
  }
  .projectInfo h1 {
 
  left: 30%;
  font-size: 32px;
  }
  
  ul.stack{
  top: 10px;
  left:15% ;
  font-size: 20px;
  }
  ul.stack li{
  margin-bottom: 5px;

  }
  .viewbtn {
    left: 65%;
    top: -40%;
  }
  

  .nameInput,.emailInput{
    width: 150px;
  
    }
    .contact-listtwo{
      position: relative;
      display: inline;
      top: 10px;
    }
    
    .subjectInput{
      width: 312px;
    }
    .messageInput{
      width: 313px;
    }
    .form{
      top:25px;
    }
    .languages{
      top: 390px;
      right: 5px;
     
      
    }
    .languages ul li{
      font-size: 15px;
   


    }
    .laguagesStacks.second{
      top: -100px;

    }
  }
  @media only screen and (max-width: 361px) {
    .laguagesStacks.second{
      left:90px ;
      top: -80px;
    }
    .nav-link  {
      font-size: 22px;

    }
    .languages{
      right: 25%;
      top: 420px;
      height: 140px;
      width: 200px;
    } 
    .languages h3{
      font-size: 25px;
    }
    .laguagesStacks li{
      font-size: 20px;
    }
    
    .cube{
      display: none;
    }
  }

  @media only screen and (max-width: 320px) {

    .nav-link{
      font-size: 20px;
    }
    .text-part h1{
      font-size: 25px;
    }
    .sentence{
      font-size: 20px;
    }
    .cube{
      display: none;
    }
    .languages{
      right: 20%;
      top: 440px;
      height: 140px;
      width: 200px;
    }
    .languages h3{
      font-size: 25px;
    }
    .laguagesStacks li{
      font-size: 20px;
    }

    


    .carousel-wrapper{
      width: 250px;
      
    }
    .projectInfo{
      width: 250px;
      left: -50px;
    }
    ul.stack {
      left: 2px;
    }
    .viewbtn{
      left:140px ;
    }
    .nameInput,.emailInput{
     width: 310px;
      
    }
    .messageInput{
      height: 90px;
    }

    .languages ul li{
      font-size: 20px;
    }
    .laguagesStacks.second{
      left: 100px;
      top: -120px;
    }
  }