@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
body {
	font-family: 'Teko', sans-serif;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to left, #6991c7, #a7bde7);
	z-index: -1;
}

.navbar {
	z-index: 10;
	width: 100%;
	height: 70px;
	background-color: transparent;
	position: fixed;
	top: 0;
  right: -2000px;
  border-bottom:linear-gradient(to left, #6991c7, #a7bde7);
	display: flex;
  /* justify-content:center; */
  
	align-items: center;
  transition: right 1s cubic-bezier(1, 0, 0, 1);
	background: linear-gradient(to left, #6991c7, #a7bde7);

}
.change {
	right: 0;
}

.hamburger-menu {
	width: 35px;
	height: 30px;
	z-index: 3;
	position: fixed;
	top: 20px;
	right: 25px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.line {
	width: 100%;
	height: 3px;
	background-color: rgb(255, 255, 255);
	transition: all 0.8s;
}
.line.line-2 {
	position: relative;
	width: 70%;
	left: 30%;
}
.line.line-3 {
	position: relative;
	width: 50%;

	left: 50%;
}

/* arrow version */
.change .line-1 {
	transform: rotateZ(215deg) translate(-2px, 6px);
	top: 10px;
	width: 45%;
	left: 55%;
	position: relative;
}

.change .line-3 {
	width: 100%;
	left: 0;
	width: 45%;

	transform: rotateZ(-215deg) translate(-2px, -6px);
	left: 55%;
	top: -10px;
}

/* X version for navbar */
/* .change  .line-1{
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change  .line-2{
  opacity:0;
}
.change  .line-3{
  width: 100%;
  left: 0;
  transform: rotateZ(405deg) translate(-8px, -6px);
} */

.nav-list {
	position: relative;
	text-align: left;
	float: left;
	/* left: -25%; */
}

.nav-listtwo {
	position: relative;
	text-align: right;
	float: right;
  left: 45vw;

}
ul.nav-listtwo li {
	display: inline;
  margin: 0 10px;
  
}

ul.nav-list {
	list-style: none;
	float: left;
	left: 5%;
}
ul.nav-list li {
	display: inline;
}
.nav-item {
	list-style: none;
	margin: 20px;
}

.nav-link2 {
	color: #eee;
}

.nav-link {
	text-decoration: none;
	font-size: 20px;
	color: #eee;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
	padding: 3px 0;
	font-size: 30px;
}

.nav-link::before,
.nav-link::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 0;
	transform: scaleX(0);
	transition: transform 1s;
}

.nav-link::after {
	bottom: 0;
	transform-origin: right;
}
.nav-link::before {
	top: 0;
	transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
	transform: scaleX(1);
}

.home-area {
	width: 100%;
	height: 100vh;
	position: relative;
}
.about-area,
.projects-area,
.contact-area,
.home-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}
.text-part {
  position: relative;
	/* width: 65%; */
  height: 80%;
  left: 1%;
}

h1 {
	font-size: 50px;
}
p {
	font-size: 24px;
	line-height: 50px;
}

.contact-area,
.about-area,
.projects-area {
	background: linear-gradient(to left, #6991c7, #a7bde7);
	color: #fff;
}
html {
	scroll-behavior: smooth;
}
section {
	display: flex;
	height: 100vh;
	align-items: center;
  justify-content: center;
  border-bottom: solid linear-gradient(to left, #6991c7, #a7bde7);
}

.hero {
	height: 100vh;
	width: 100%;
  position: relative;
  top: 20px;

}



.hero::after {
	content: '';
	background: #6991c7;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0.5;
	top: 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.562),
		0 6px 20px 0 rgba(0, 0, 0, 0.452);
}

.headline {
	position: relative;
	width: 165px;
	color: white;
	z-index: 2;
	top: 13px;
}
.middleSentence {
	position: relative;
	margin-right: 25%;
	top: 10px;
}

.intro {
	position: relative;
	color: white;
	z-index: 2;
	transform: translate(-20%, -70%);
	font-size: 65px;
	font-weight: bolder;
}
.all {
	position: relative;
	top: 90px;
  left: 2%;
  z-index: 6;
}
.intro.top {
	position: relative;
	top: 20px;
}
.intro.middle {
	padding-right: 3%;
	/* top: 40px; */
	/* width: 10%; */
}
.intro.bottom {
	padding-right: 2%;
}

#hi,#name,#fullstack,#developer {
  animation: fill 0.6s ease forwards 4.5s;
  
}

#hi path:nth-child(1) {
	stroke-dasharray: 268.55999755859375;
	stroke-dashoffset: 268.55999755859375;
	animation: line-anim 3s ease forwards 1.7s;
}

#hi path:nth-child(2) {
	stroke-dasharray: 136.97998046875;
	stroke-dashoffset: 136.97998046875;
	animation: line-anim 3s ease forwards 2.2s;
}

#hi path:nth-child(3) {
	stroke-dasharray: 60.361045837402344;
	stroke-dashoffset: 60.361045837402344;
	animation: line-anim 3s ease forwards 0.8s;
}

#name path:nth-child(1) {
	stroke-dasharray: 128.87991333007812;
	stroke-dashoffset: 128.87991333007812;
	animation: line-anim 3s ease forwards 2.2s;
}

#name path:nth-child(2) {
	stroke-dasharray: 60.12594985961914;
	stroke-dashoffset:60.12594985961914;
	animation: line-anim 3s ease forwards 1.4s;
}

#name path:nth-child(3) {
	stroke-dasharray: 322.5590515136719;
	stroke-dashoffset: 322.5590515136719;
	animation: line-anim 3s ease forwards 1.7s;
}

#name path:nth-child(4) {
	stroke-dasharray: 248.72991943359375;
	stroke-dashoffset: 248.72991943359375;
	animation: line-anim 3s ease forwards 2s;
}
#name path:nth-child(5) {
	stroke-dasharray: 217.31700134277344;
	stroke-dashoffset: 217.31700134277344;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(6) {
	stroke-dasharray: 322.5592041015625;
	stroke-dashoffset: 322.5592041015625;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(7) {
	stroke-dasharray: 217.31704711914062;
	stroke-dashoffset: 217.31704711914062;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(8) {
	stroke-dasharray: 212.69151306152344;
	stroke-dashoffset: 212.69151306152344;
	animation: line-anim 3s ease forwards 2.3s;
}
#name path:nth-child(9) {
	stroke-dasharray: 147.7427978515625;
	stroke-dashoffset: 147.7427978515625;
	animation: line-anim 3s ease forwards 2.4s;
}
#name path:nth-child(10) {
	stroke-dasharray: 245.271484375;
	stroke-dashoffset: 245.271484375;
	animation: line-anim 3s ease forwards 2.8s;
}
#name path:nth-child(11) {
	stroke-dasharray: 217.3170928955078;
	stroke-dashoffset: 217.3170928955078;
	animation: line-anim 3s ease forwards 2.6s;
}
#name path:nth-child(12) {
	stroke-dasharray: 60.361045837402344;
	stroke-dashoffset: 60.361045837402344;
	animation: line-anim 3s ease forwards 3.3s;
}


#fullstack path:nth-child(1) {
	stroke-dasharray: 250.99961853027344;
	stroke-dashoffset: 250.99961853027344;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(2) {
	stroke-dasharray: 187.7399444580078;
	stroke-dashoffset: 187.7399444580078;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(3) {
	stroke-dasharray: 212.72943115234375;
	stroke-dashoffset: 212.72943115234375;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(4) {
	stroke-dasharray: 136.6199188232422;
	stroke-dashoffset: 136.6199188232422;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(5) {
	stroke-dasharray: 136.61993408203125;
	stroke-dashoffset: 136.61993408203125;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(6) {
	stroke-dasharray: 51.839988708496094;
	stroke-dashoffset: 51.839988708496094;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(7) {
	stroke-dasharray: 248.73114013671875;
	stroke-dashoffset: 248.73114013671875;
	animation: line-anim 3s ease forwards 2.7s;
}
#fullstack path:nth-child(8) {
	stroke-dasharray: 147.74270629882812;
	stroke-dashoffset: 147.74270629882812;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(9) {
	stroke-dasharray: 217.3170166015625;
	stroke-dashoffset: 217.3170166015625;
	animation: line-anim 3s ease forwards 2.3s;
}
#fullstack path:nth-child(10) {
	stroke-dasharray: 186.73056030273438;
	stroke-dashoffset: 186.73056030273438;
	animation: line-anim 3s ease forwards 2.4s;
}
#fullstack path:nth-child(11) {
	stroke-dasharray: 250.26953125;
	stroke-dashoffset: 250.26953125;
	animation: line-anim 3s ease forwards 2.3s;
}


#developer path:nth-child(1) {
	stroke-dasharray: 352.6358642578125;
	stroke-dashoffset: 352.6358642578125;
	animation: line-anim 3s ease forwards 2.6s;
}
#developer path:nth-child(2) {
	stroke-dasharray: 214.7104034423828;
	stroke-dashoffset: 214.7104034423828;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(3) {
	stroke-dasharray: 250.1188507080078;
	stroke-dashoffset: 250.1188507080078;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(4) {
	stroke-dasharray: 250.06875610351562;
	stroke-dashoffset: 250.06875610351562;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(5) {
	stroke-dasharray: 214.71047973632812;
	stroke-dashoffset: 214.71047973632812;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(6) {
	stroke-dasharray: 192.1947021484375;
	stroke-dashoffset: 192.1947021484375;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(7) {
	stroke-dasharray: 214.71055603027344;
	stroke-dashoffset: 214.71055603027344;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(8) {
	stroke-dasharray: 136.619873046875;
	stroke-dashoffset: 136.619873046875;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(9) {
	stroke-dasharray: 207.65467834472656;
	stroke-dashoffset: 207.65467834472656;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(10) {
	stroke-dasharray: 242.20631408691406;
	stroke-dashoffset: 242.20631408691406;
	animation: line-anim 3s ease forwards 2.3s;
}
#developer path:nth-child(11) {
	stroke-dasharray: 214.71072387695312;
	stroke-dashoffset: 214.71072387695312;
	animation: line-anim 3s ease forwards 2.1s;
}
#developer path:nth-child(12) {
	stroke-dasharray: 127.58888244628906;
	stroke-dashoffset: 127.58888244628906;
	animation: line-anim 3s ease forwards 2.1s;
}

@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}

.wrap {
  position: relative;
  margin-top: 150px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  left: -65%;
  top: 100px;
}

.cube {
  margin: auto;
  position: relative;
  height:150px;
  width: 150px;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #000;
  /* border: solid 1px #eeeeee; */
  color: #ffffff;
}

.front {
  transform: translateZ(50px);
  background-image: url('./images/4223.png');
  background-size:cover;
  background-position: center center;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);

}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-image: url('./images/HTML5.jpg');

  background-size:cover;
  background-position: center center;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-image: url('./images/javascript-logo.png');
  background-size:cover;
  background-position: center center;
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  background-image: url('./images/reactjs.png');

  background-size:cover;
  background-position: center center;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  background-image: url('./images/css.png');
  background-size:cover;
  background-position: center center;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  animation: rotate 20s infinite linear;
}




@keyframes animate{
  from,to{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16%{
    transform: rotateY(-90deg);
  }
  33%{
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50%{
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66%{
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83%{
    transform: rotateY(90deg);
  }
}

@media only screen and (max-width: 987px) {
  .nav-listtwo{
    left: 35%;
  }
  .wrap{
    left: -65%;
    z-index: 9;
    top: 100px;
  }
}

@media only screen and (max-width: 833px) {
  .nav-listtwo{
    left: 30%;
  }
  .wrap{
    left: -75%;
    /* top: -250px; */
  }

  .cube {
   
    height:120px;
    width: 120px;
  }
  .front {
    transform: translateZ(20px);

  }

}
@media only screen and (max-width: 804px) {

  .wrap{
    left: -30%;
    top: -200px;
  }
  .text-part.about{
    top: 90px;
  }
}

@media only screen and (max-width: 810px) {

 
 .hi,.name,.fullstack,.developer{
   position: relative;
    width:45vw ;
  }
  .hi{
    left: -36%;
  }
  .name{
    left: 2%;
  }
  .fullstack{
    left: -2%;
  }
}

@media only screen and (max-width: 700px) {
  .text-part.about{
    top: 80px;
  }


}

@media only screen and (max-width: 784px) {

  .nav-listtwo{
    left: 20%;
  }
}
